<mat-card class="responsive-card">
  <mat-card-title>
    <span>Extracciones</span>
  </mat-card-title>
  <mat-card-content>

    <div class="div-container">
      <div class="form-container fill-width">
        <form [formGroup]="extractionForm">
          <div class="input-container fill-width">
            <div class="label-container fill-width">
              <mat-form-field appearance="outline" class="fill-width">
                <mat-label>Monto de la extracción</mat-label>
                <input matInput type="number" [min]="0" placeholder="Monto de la extracción" [formControl]="extraction"
                       required>
              </mat-form-field>
              @if (extraction.hasError('required') && extraction.touched) {
                <div class="error-container-div">
                  <mat-error>
                    <span class="error-text">Campo requerido</span>
                  </mat-error>
                </div>
              }
              @if (extraction.hasError('entryExtraction') && extraction.touched) {
                <div class="error-container-div">
                  <mat-error>
                    <span class="error-text">{{ extraction.getError('entryExtraction') }}</span>
                  </mat-error>
                </div>
              }
            </div>
          </div>
        </form>

        <button style="margin-top: -40px" mat-flat-button [disabled]="!extractionForm.valid" color="primary"
                (click)="extractionAction()">Aceptar
        </button>
      </div>

      <mat-divider></mat-divider>

      <div class="table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let element">${{ element.amount }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
