.form-field-label {
  font-size: 1.4rem;
}

.form-field-label-required {
  font-size: 1.4rem;
  color: red;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.label-container {
  margin-top: -20px;
  margin-right: 16px;
}

.fill-width {
  width: 100%;
}

.form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.table-container {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 17.5rem);
}
